{% extends "core/home.html" %}
{% load static%}
{% block content %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">estado</th>
        <th scope="col">total de la compra</th>
        <th scope="col"></th>
      </tr>
    </thead>
    {%for compra in compras%}
    <tbody> 
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{compra.id}}</td>
        <td>{{compra.estado}}</td>
        <td>${{compra.total}}</td>
        <td> <a style="text-decoration: none; color: black;" href="{% url 'CORE:compra_con_id' compra.id %}">ver</a> </td>
      </tr>
    </tbody>
  
        {% empty %}
            <div class="col-12 p-0 m-0">
                <p class="d-flex justify-content-between align-items-center">
                    No tiene ninguna compra realizada
                </p>
                <a href="{% url 'CORE:carrito_index' %}" class="btn btn-outline-success ">Finalizar compra</a>
            </div>
            
        {% endfor %}
</table>
{% endblock %}
<!--<div class="col-6 col-md-3 mb-4">
        <div class="card h-100 card-img-producto-home">
            <div class="card-body text-center">
                <h4 class="card-title">{{compra.estado}} </h4>
                <p class="card-text">total de la compra:    {{compra.total}} </p>
                <a href="{% url 'CORE:compra_con_id' compra.id %}">ver detalle</a>
            </div>
        </div>
    </div>-->