{% extends "core/home.html" %}
{% block content %}
{% for item in productos %}
                <div class="col-12 p-0 m-0">
                    {% if item.producto.descuento > 0 %}
                        <p class="d-flex justify-content-between align-items-center">
                            {{ forloop.counter }}. {{item.producto.nombreProducto.title}} descuento {{ item.producto.descuento }}%
                            <a href="{% url 'CORE:item_carrito_delete' item.id %}" style="text-decoration: none; color: black;">eliminar</a>
                        </p>
                    {% else %}
                        <p class="d-flex justify-content-between align-items-center">
                            {{ forloop.counter }}. {{item.producto.nombreProducto.title}} 
                            <a href="{% url 'CORE:item_carrito_delete' item.id %}" style="text-decoration: none; color: black;">eliminar</a>
                        </p>
                    {% endif %}
                </div>
            {% empty %}
                <div class="col-12 p-0 m-0">
                    <p class="d-flex justify-content-between align-items-center">
                        No tiene ningun producto en el carrito
                    </p>
                    <a href="{% url 'CORE:producto_productos' %}" class="btn btn-outline-success ">Ir a comprar</a>
                </div>
            {% endfor %}
{% endblock %}