{% extends "core/home.html" %}
{% load static %}
{% block content %}
<div class="row">

    <!-- MENSAJES -->
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-primary alert-dismissible fade show col-12" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            <strong>{{message}}</strong> 
        </div>
    {% endfor %}
    {% endif %}
     <!--cambiar formato-->   
    {% if user.is_authenticated %}
        cerrar sesion <b style="padding-left: 8px;">{{ user.username }}</b>
        <a type="button" class="btn btn-outline-success my-2 my-sm-0" href="{% url 'logout'%}?next=/"> Cerrar sesion </a>
        
    {% else %}
    <!-- TITULO -->
    <div style="padding-left: 25px; padding-top: 25px;" >
        <a href="{% url 'CORE:producto_index' %}" ><button type="button" class="btn btn-outline-dark">Atrás</button></a>
    </div>

    <div class="col-12 mb-3">
        <h2 class="text-uppercase text-center" >Registro</h2>
    </div>

    <form action="" method="POST" class="col-md-8 mx-auto">
    <div class="container justify-content-md-center" style="outline: black solid 1px;  width: 100%; ">
        {% csrf_token %}

        <!-- EMAIL -->
        <div class="form-group row ">
            <label for="email" class="col-4 col-form-label text-right">Correo:</label>
            <div class="col-8 col-lg-6">
                <input type="text" class="form-control" id="email" name="email" aria-describedat="emailHelp">
            </div>
        </div><br>

        <!-- USUARIO -->
        <div class="form-group row ">
            <label for="usuario" class="col-4 col-form-label text-right">Usuario:</label>
            <div class="col-8 col-lg-6">
                <input type="text" class="form-control" id="usuario" name="username" aria-describedby="usernameHelp" placeholder="Un nombre de usuario">
                <small id="usernameHelp" class="text-muted">150 carácteres como máximo.</small>
            </div>
        </div>

        <!-- PASSWORD -->
        <div class="form-group row ">
            <label for="password" class="col-4 col-form-label text-right">Contraseña:</label>
            <div class="col-8 col-lg-6">
                <input type="password" class="form-control" id="password" name="password1" aria-describedby="password1Help">
                <small id="password1Help" class="text-muted">
                    Debe contener al menos 8 caracteres. <br>
                    Debe contener numeros y letras.
                </small>
            </div>
        </div>

        <!-- PASSWORD REPEAT -->
        <div class="form-group row ">
            <label for="passwordRepeat" class="col-4 col-form-label text-right">Contraseña:</label>
            <div class="col-8 col-lg-6">
                <input type="password" class="form-control" id="passwordRepeat" name="password2" aria-describedby="password2Help">
                <small id="password2Help" class="text-muted">Repita la password anterior</small>
            </div>
        </div>
        
        <!-- BOTONES -->
        <div class="form-group row mt-4">
            <div class="col-4 col-md-4 col-lg-3 offset-4 offset-lg-4">    
                <button type="submit" class="btn btn-outline-dark btn-block"> <img src="{% static 'core/img/login.png'%}">Registrarse</button> <!--text-uppercase-->
            </div>
        </div>
    </div>
    </form>
    {% endif %}

</div>

{% endblock %}